{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person">

  <div class="author__avatar">
    {% if author.avatar contains "://" %}
    	<img src="{{ author.avatar }}" alt="{{ author.name }}">
    {% else %}
    	<img src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" class="author__avatar" alt="{{ author.name }}">
    {% endif %}
  </div>

  <div class="author__content">
    <h3 class="author__name">{{ author.name }}</h3>
    {% if author.bio %}<p class="author__bio">{{ author.bio }}</p>{% endif %}
  </div>

  <div class="author__urls-wrapper">
    <button class="btn">Contact</button>
    <ul class="author__urls social-icons">
        <li><i class="fas fa-fw fa-id-card" aria-hidden="true" style="color:#000"></i>&nbsp;<a href="https://gravatar.com/observant20e864abfe">Gravatar</a></li>
        <li><i class="fas fa-fw fa-paper-plane" aria-hidden="true" style="color:#000"></i>&nbsp;<a href="mailto:{{ author.email }}">mpfarrho@gmail.com</a></li>
        <li><i class="fab fa-fw fa-github" aria-hidden="true" style="color:#000"></i>&nbsp;<a href="https://github.com/{{ author.github }}">Github</a></li>
        <li><i class="fas fa-fw fa-graduation-cap" style="color:#000"></i>&nbsp;<a href="{{ author.googlescholar }}">Google</a>/&nbsp;<a href="https://www.semanticscholar.org/author/Michael-Pfarrhofer/88739014">Semantic</a>&nbsp;Scholar</li>
    </ul>
  </div>
</div>
