{% include base_path %}
<div class="page__footer-follow">
  <ul class="social-icons">
    <li><a href="mailto:mpfarrho@gmail.com">Email</a></li>
    <li><a href="https://twitter.com/mpfarrho">Twitter</a></li>
    <li><a href="https://scholar.google.at/citations?user=ymlNJ_UAAAAJ&hl=en">Scholar</a></li>
    <li><a href="https://github.com/mpfarrho">Github</a></li>
    <li><a href="https://ideas.repec.org/e/ppf31.html">IDEAS</a></li>
    <li><a href="https://orcid.org/0000-0002-0168-688X">ORCID</a></li>
    <li><a href="https://www.researchgate.net/profile/Michael-Pfarrhofer">Researchgate</a></li>
  </ul>
</div>

<div class="page__footer-copyright"><a href="https://github.com/academicpages/academicpages.github.io">Link to page source code (Github).</a></div>
