{% include base_path %}
<div class="page__footer-follow">
  <ul class="social-icons">
    <li><a href="https://ideas.repec.org/e/ppf31.html">IDEAS</a></li>
    <li><a href="https://orcid.org/0000-0002-0168-688X">ORCID</a></li>
    <li><a href="https://www.researchgate.net/profile/Michael-Pfarrhofer">Researchgate</a></li>
    <li><a href="https://www.wu.ac.at/en/economics/people/pfarrhofer-m/">Homepage (WU)</a></li>
    <li><a href="https://research.wu.ac.at/en/persons/michael-pfarrhofer">PURE (WU)</a></li>
    <li><a href="https://twitter.com/mpfarrho">X</a></li>
  </ul>
</div>

<div class="page__footer-copyright"><a href="https://github.com/academicpages/academicpages.github.io">Link to page source (Github)</a>. Profile picture by WU Vienna (WUtv). <i>Contact</i>: Department of Economics, WU Vienna University of Economics and Business, Welthandelsplatz 1, D4, 1020 Vienna.</div>
